<h3> Add a Mutiple Choice Question</h3>

<%= form_for [@survey, @question] do |question_fields| %>
  <div class="form-group">
    <%= question_fields.label :text, "What is your question?" %>
    <%= question_fields.text_field :text, class: "form-control" %>
  </div>

  <% if @question.options.empty? %>
    <div class="form-group">
      <%= question_fields.label :num_answers, "How many answers will this question have?" %>
      <input type="number" name="question[num_answers]" class="form-control"  />
    </div>
  <% end %>

   <div class="form-group">
    <%= question_fields.label :num_options, "How many options may be selected?" %>
    <div class="radio">
      <input type="radio" name="question[num_options]" value = "One" %> One
    </div>
    <div class="radio">
      <input type="radio" name="question[num_options]" value = "Multiple" %> Multiple
    </div>
  </div>

  <div class="form-group">
  <label>Is this question required?
    <div class="radio">
      <%= question_fields.radio_button :required, "Yes" %> Yes
    </div>
    <div class="radio">
      <%= question_fields.radio_button :required, "No" %> No
    </div>
  </label>

  <% unless @question.options.empty? %>
    <h3>Edit Answer Choices</h3>
    <%= question_fields.fields_for :options do |option_field| %>
      <div class="form-group">
        <%= option_field.text_field :text, class: "form-control" %>
        <% if option_field.object.persisted? %>
          <%= option_field.label :_destroy, "Delete this answer?" %>
          <%= option_field.check_box :_destroy %>
        <% end %>
        <br>
      </div>
    <% end %>
  <% end %>

  </div>

  <br />

  <%= question_fields.hidden_field :question_type, value: 2 %>

  <%= question_fields.submit "Continue to the Next Step", class: "btn btn-primary" %>

  <% end %>
