<h3> Add a Mutiple Choice Question</h3>

<%= form_for [@survey, @question] do |question_fields| %>
  <div class="form-group">
    <%= question_fields.label :text, "What is your question?" %>
    <%= question_fields.text_field :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= question_fields.label :min, "How many answers will this question have?" %>
    <input type="number" name="question[num_answers]" class="form-control"  />
  </div>

   <div class="form-group">
    <%= question_fields.label :max, "How many options may be selected?" %>
    <input type="number" name="question[num_options]" class="form-control"  />
  </div>

  <label>Is this question required?
    <div class="radio">
      <%= question_fields.radio_button :required, "Yes" %> Yes
    </div>
    <div class="radio">
      <%= question_fields.radio_button :required, "No" %> No
    </div>
  </label>

  <br />

  <%= question_fields.hidden_field :question_type, value: 1 %>

  <%= question_fields.submit "Continue to the Next Step", class: "btn btn-primary" %>

  <% end %>
