<h3> Add a Number Range Question</h3>

<%= form_for @question do |question_fields| %>
  <div class="form-group">
    <%= question_fields.label :text, "What is your question?" %>
    <%= question_fields.text_field :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= question_fields.label :min, "What is the minimum range value?" %>
    <%= question_fields.number_field :min, class:"form-control" %>
  </div>

   <div class="form-group">
    <%= question_fields.label :max, "What is the maximum range value?" %>
    <%= question_fields.number_field :max, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= question_fields.label :step, "What is the step in your range?" %>
    <%= question_fields.number_field :step, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= question_fields.label :required, "What is the maximum range value?" %>
    <%= question_fields. :max, class:"form-control" %>
  </div>

