<h3> Add a Number Range Question</h3>

<%= form_for [@survey, @question] do |question_fields| %>
  <div class="form-group">
    <%= question_fields.label :text, "What is your question?" %>
    <%= question_fields.text_field :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= question_fields.label :min, "What is the minimum range value?" %>
    <input type="number" name="question[min]" class="form-control" value="<%= @question.options.order("text ASC").first.text %>" />
  </div>

   <div class="form-group">
    <%= question_fields.label :max, "What is the maximum range value?" %>
    <input type="number" name="question[max]" class="form-control" value="<%= @question.options.order("text ASC").last.text %>" />
  </div>

  <div class="form-group">
    <%= question_fields.label :step, "What is the step in your range?" %>
    <input type="number" name="question[step]" class="form-control" value="<%= @question.options.order("text ASC").second.text.to_i - @question.options.order("text ASC").first.text.to_i %>" />
  </div>

  <label>Is this question required?
    <div class="radio">
      <%= question_fields.radio_button :required, "Yes" %> Yes
    </div>
    <div class="radio">
      <%= question_fields.radio_button :required, "No" %> No
    </div>
  </label>

  <br />

  <%= question_fields.hidden_field :question_type, value: 1 %>

  <%= question_fields.submit "Add Question", class: "btn btn-primary" %>

  <% end %>
