<%= link_to "<< Return to Survey", survey_path(@survey), class: "btn btn-success btn-xs" %>

<div class="greyed-out">
  <h1>Title: <%= @survey.title %></h1>
  <h2>Description: <%= @survey.description %></h2>
</div>

<% if @type == "1" %>
  <%= render "range" %>
<% else %>
  <%= render "multiple_choice" %>
<% end %>

<%= render "/shared/question_list" %>
